@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%; }
  .dark {

    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%}
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #FFF;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
}

.sidebar-heading {
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
}

.sidebar-version {
  color: #838383;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
}

.sidebar-active-item-box {
  border-radius: 8px;
  background: #5932EA;
}

.sidebar-active-item-text {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.sidebar-active-item-heading {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  transform-style: 3ms;
}

.sidebar-active-item-heading:hover {
  opacity: 0.95;
  
}

.sidebar-item-heading {
  color: #9197B3;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.sidebar-item-heading:hover {
  border-radius: 8px;
  background: #dfeaff;
}

.main-heading-1 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-box-1 {
  background: #FAFBFF;
}

.input-heading {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.bolded-input-heading {
  color: var(--Black, #000);

  /* Input Field/Label */
  font-family: Roboto;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.input-text {
  color: var(--False-Black, #404040);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.input-placeholder {
  color: var(--Gray, #A6A6A6);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-box {
  display: flex;
  padding: 8px;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--Gray, #A6A6A6);
  background: var(--White, #FFF);
}

.input-box:focus {
  border-radius: 4px;
  border: 2px solid var(--Blue, #73A2FF);
  background: var(--White, #FFF);
}

.input-placeholder {
  color: var(--Gray, #A6A6A6);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inner-box {
  padding: 18px 18px 18px 18px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.50);
  border-radius: 18px;
}

.inner-box-heading {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
}

.upload-text {
  color: #404040;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.upload-blue-text {
  color: #3275EA;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.drag-and-drop-box {
  display: flex;
  padding: 8px 8px 8px 8px;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--Gray, #A6A6A6);
  background: var(--White, #FFF);
}

.upload-button {
  height: 40px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #5932EA;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: -0.14px;
}

.upload-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    #ffffff00 70%
  );
  top: 0;
  left: -100px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.upload-button:hover::before {
  animation: shine 1.5s ease-out infinite;
  opacity: 0.6;
}

.upload-button:hover {
  transform: scale(1.02);
  border-color: #fff9;
  background: var(--primary-action-action, #5932EA) !important;
  color: #FFF !important;
}

.upload-button:disabled {
  cursor: not-allowed;
  opacity: 0.6; 
  background-color: #6c757d; 
  border-color: #6c757d; 
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
} 
